.title {
  height: 48px;
  font-family: AppleSDGothicNeoEB00;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #3d4551;
  margin-bottom: 79px;
}

.curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1160px;
  margin: 0 auto 217px;
  border-top: 1px solid #e4e7ea;

  &__head {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e4e7ea;
    text-align: center;
    padding: 12px 0;

    &--week {
      width: 25%;
    }

    &--subject {
      width: 75%;
    }
  }

  &__weeks {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e7ea;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--week {
      width: 25%;
    }

    &--subject {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 75%;
      padding: 32px 0;
      text-align: start;
    }

    &--title {
      // font-family: AppleSDGothicNeoB00;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -1px;
      color: #3d4551;
      margin-bottom: 13px;

      & img {
        margin-right: 10px;
      }
    }

    &--description {
      font-family: AppleSDGothicNeoL00;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      letter-spacing: -.48px;
      color: #778391;
      margin-bottom: 20px;

      & div {
        margin: 0 0 7px 21px;
      }
    }
  }
}